<web-app>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>helloworld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/helloworld</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>
            Rank</servlet-name>
        <servlet-class>rank</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Rank</servlet-name>
        <url-pattern>/Student</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>
            Array</servlet-name>
        <servlet-class>array</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Array</servlet-name>
        <url-pattern>/array</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>
            Test</servlet-name>
        <servlet-class>Test</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>
            fullmarks</servlet-name>
        <servlet-class>p12_db1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fullmarks</servlet-name>
        <url-pattern>
            /db1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>certainmarks</servlet-name>
        <servlet-class>p12_db2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            certainmarks</servlet-name>
        <url-pattern>/db2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>hiddenForms</servlet-name>
        <servlet-class>
            hiddenForms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hiddenForms</servlet-name>
        <url-pattern>/hiddenforms</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>
            name</servlet-name>
        <servlet-class>name</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>name</servlet-name>
        <url-pattern>/name</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>
            both</servlet-name>
        <servlet-class>both</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>both</servlet-name>
        <url-pattern>/both</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>
            hitcount</servlet-name>
        <servlet-class>hitCount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hitcount</servlet-name>
        <url-pattern>
            /hitcount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>create</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>
            display</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>
            update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

</web-app>